<h1>Example App: Home</h1>
<nav class=" navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mango Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved Articles"></li>
            <li><a class='btn btn-danger scrape-new'>Scrap new articles</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overLay">

    </div>
    <div class="background-image">

    </div>
    <div class="caption">
        <h1>Mango Scraper</h1>
        <p>New York Time edit</p>
    </div>

</div>
<div class="container-fluid article-contanier">

</div>
<footer class="footer">
    <div class="container">
        <p>New York time mongo </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="../../assets/javascript/saved.js"></script>